* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #2C2D35;
    scroll-behavior: smooth;
}
.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
.logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;

}
.logo__text {
    color: #598D66;
    font-size: 20px;
    font-weight: 700;
}
.header {
    background-color: #E1EDE6;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.menu {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0 32px;

}
.menu__nav ul {
    list-style: none;
    display: flex;
    max-width: 470px;
    width: 100%;
    gap: 60px;

}
.nav__item a {
    text-decoration: none;
    color: #2C2D35;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.main {
    margin-top: 100px;
    display: flex;
    gap: 30px;
}
.main__img {
    height: 621px;
    object-fit: cover;
    object-position: center;
}
.main__presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__header {
    font-size: 60px;
    line-height: 110%; /* 66px */
}
.main__header span {
    color: #598D66;

}
.main__description {
    color: #86928B;
    font-size: 18px;
    line-height: 150%; /* 27px */
    padding-top: 20px;
    padding-bottom: 60px;
}
.btn_green {
    font-size: 20px;
    color: #598D66;
    border: 1px solid #598D66;
    background-color: transparent;
    height: 65px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}
.main__btn {
    max-width: 225px;
}
.btn_green:hover {
    color: white;
    background-color: #598D66;
}
.reproduction {
    display: flex;
    flex-direction: column;
}
.reproduction__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 69px;
}
.reproduction__header {
    font-size: 40px;
    line-height: 110%; /* 44px */
}
.reproduction__origin {
    display: flex;
    justify-content: space-between;
    max-width: 428px;
    width: 100%;
}
.btn__country {
    border-radius: 20px;
    background: #D4E8D9;   
    border: none;
    height: 43px;
    max-width: 135px;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.btn__country:hover{
    color: #F4F6F5;
    background-color: #376B44;
}
.reproduction__cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    width: 100%;
    gap: 30px;
}
.picture {
    height: 730px;
    padding: 20px 20px 30px;
    background-color: #E1EDE6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.picture__img {
    height: 422px;
    object-fit: cover;
    object-position: center;
}
.picture__artist {
    color: #86928B;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.picture__name {
    font-size: 30px;
}
.picture__materials {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 30px;
}
.picture__price {
    color: #598D66;
    font-size: 24px;
    margin-bottom: 20px;
}
.picture__btn {
    align-self: stretch;
}