.header-mobile {
    display: none;
}
@media (max-width:575px) {
    .header-mobile {
        position: fixed;
        right: 0;
        left: 0;
        top: 68px;
        display: flex;
        justify-content: space-between;
        height: 62px;
        width: 100vw;
        background-color: #E1EDE6;
        padding: 16px 15px;
        &__burger-btn {
            border: none;
            background-color: transparent;
            transition: 0.3s;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
            }
            &:hover svg path {
                    fill: #598D66; 
                }
            &:focus svg path {
                    background-color: #D4E8D9;
                    fill: #598D66;
                }
            &:active svg path {
                    fill: #376B44;
                }
            } 
        &__cart {
            &:hover {
                transform: scale(1.1);
            }
            svg {
                &:hover {
                    stroke: #598D66; 
                }
                &:focus {
                    background-color: #D4E8D9;
                    stroke: #598D66;
                }
                &:active {
                    stroke: #376B44;
                }
            } 
        }
    }
}