.new {
    margin-top: 70px;
    height: 574px;
    background-image: linear-gradient(to right, rgba(1, 2, 3, 0.8) 40%, transparent 70%), url("../../img/sad_man.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 30%;
    width: 100vw;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 70px 0;
        max-width: 540px;
        width:100%;
    }
    &__header-container {
        display: flex;
        gap: 20px;
    }
    &__logo {
        height: 80px;
    }
    &__header {
        color: #F4F6F5;
        font-size: 40px; 
    }
    &__text {
        color: #FFF;
        font-size: 18px;
        line-height: 150%; /* 27px */
        margin-top: 20px;
    }
}
@media (min-width: 778px) and (max-width:1109px) {
    .new {
        &__header {
            font-size: 30px;
            max-width: 370px;
            margin-bottom: 5px;
        }
        &__logo {
            height: 60px;
        }
        &__content {
            max-width: 690px;
        }
        &__text {
            margin-top: 25px;
        }
    }
}
@media (min-width: 576px) and (max-width:777px) {
    .new {
        height: 410px;
        margin-top: 50px;
        &__logo {
            height: 50px;
        }
        &__header {
            font-size: 24px;
            max-width: 261px;
        }
        &__content {
            height: 410px;
            padding: 50px 0;
        }
        &__text {
            font-size: 16px;
            line-height: 140%;
            max-width: 510px;
            margin-top: 10px;
        }

    }
}
@media (max-width:575px) {
    .new {
        background-image: linear-gradient(to right, rgba(1, 2, 3, 0.4), transparent), url("../../img/sad_man.jpg");
        background-size: 225%;
        background-position: 15% 45%;
        height: 553px;
            &__content {
                padding: 50px 0px;
            }
            &__logo {
                height: 50px;
            }
            &__header {
                font-size: 24px;
                min-width: 230px;
            }
            &__text {
                font-size: 16px;
                line-height: 140%;
                width: 100%;
                margin-top: 20px;
            }
    }
}