.our-team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 70px auto;
    &__picture {
        height: 440px;
        max-width: 361px;
        object-fit: contain;
        object-position: center;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 44px;
        max-width: 635px;
    }
    &__header {
        font-size: 40px;
        line-height: 110%; /* 44px */
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__text {
        font-size: 18px;
        line-height: 150%; /* 27px */
        margin-top: 20px;
        margin-bottom: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__photos {
        display: flex;
        gap: 30px;
        img {
            height: 80px;
            width: 80px;
            object-fit: cover;
            object-position: center;
            border-radius: 50px;
        }
    }
}

@media (min-width: 778px) and (max-width:1109px) {
    .our-team {
        &__header {
            font-size: 30px;
        }
        &__content {
            margin-bottom: 0;
            max-width: 100%;
        }
        &__picture {
            height: 510px;
            max-width: 690px;
        }
        &__text {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}
@media (min-width: 576px) and (max-width:777px) {
    .our-team {
    margin: 50px auto;
        &__header {
            font-size: 24px;
        }
        &__text {
            font-size: 16px;
            line-height: 140%;
        }
        &__picture {
            height: 370px;
            max-width: 510px;
        }
        &__content {
            margin-bottom: 0;
        }
    }
}
@media (max-width:575px) {
    .our-team {
        margin: 59px auto 94px;
        &__header {
            font-size: 24px;
        }
        &__text {
            font-size: 16px;
            line-height: 140%;
            -webkit-line-clamp: 7;
        }
        &__picture {
            height: 285px;
            max-width: 100%;
        }
        &__content {
            margin-bottom: 0;
        }
        &__photos {
            width: 100%;
            max-width: 290px;
            gap: 25px;
            flex-wrap: wrap;
        }
    }

}